@font-face {
	font-family : Michelin;
	font-style : normal;
	font-weight : normal;
	src : url("../fonts/Michelin.otf");
}
@font-face {
	font-family : Annuels;
	font-style : normal;
	font-weight : 500;
	src : url("../fonts/Annuels.otf");
}
@font-face {
	font-family : "Mathematical Pi LT Std Regular";
	font-style : normal;
	font-weight : normal;
	src : url("../fonts/MathematicalPiLTStd.otf");
}
@font-face {
	font-family : "Myriad Pro Black";
	font-style : normal;
	font-weight : 900;
	src : url("../fonts/MyriadPro-Black.otf");
}
@font-face {
	font-family : "MyriadPro-Bold";
	src : url("../fonts/MyriadPro-Bold.otf");
}
@font-face {
	font-family : "Myriad Pro";
	font-style : normal;
	font-weight : normal;
	src : url("../fonts/MyriadPro-Regular.otf");
}
@font-face {
	font-family : "Myriad Pro SemiCond";
	font-style : normal;
	font-weight : normal;
	font-stretch : semi-condensed;
	src : url("../fonts/MyriadPro-SemiCn.otf");
}
@font-face {
	font-family : "MyriadPro-It.otf";
	src : url("../fonts/MyriadPro-It.otf");
}
@font-face {
	font-family : Optima;
	font-style : normal;
	src : url("../fonts/Optima.ttc");
}
@font-face {
	font-family : "Optima LT Std";
	font-style : normal;
	font-weight : normal;
	src : url("../fonts/OptimaLTStd.otf");
}
@font-face {
	font-family : "Optima LT Std";
	font-style : normal;
	font-weight : bold;
	src : url("../fonts/OptimaLTStd-Bold.otf");
}
@font-face {
	font-family : "Optima LT Std";
	font-style : italic ;
	font-weight : normal;
	src : url("../fonts/OptimaLTStd-Italic.otf");
}
@font-face {
	font-family : "Optima LT Std Medium";
	font-style : normal;
	font-weight : 500;
	src : url("../fonts/OptimaLTStd-Medium.otf");
}
@font-face {
	font-family : "Wingdings 3";
	font-style : normal;
	font-weight : normal;
	src : url("../fonts/Wingdings3.ttf");
}
@font-face {
	font-family : "PicEpubMic-Regular";
	font-style : normal;
	font-weight : normal;
	src : url("../fonts/PicEpubMic-Regular.otf");
}
@page {
	margin : 1em;
}
tbody, thead, tfoot, tr, td, th {
	border-style : inherit;
	border-width : inherit;
	border-color : inherit;
}
.leftFloat {
	float : left;
}
.rightFloat {
	float : right;
}
span.quartier, h2.quartier a, h2.nomresto a, h2.nomhotel a {
	color : #666;
}
span.Dollar {
	font-family : "Myriad Pro";
	font-stretch : condensed;
	font-weight : bold;
	font-style : normal;
	color : #000000;
}
span.piece {
	font-family : Annuels, sans-serif;
	color : #000000;
	font-size:1.4em;
	}
span.distinction {
	font-family : Annuels, sans-serif;
	font-weight : 500;
	font-style : normal;
	font-size : 1.75em;
	color : #bf0033;
}
.how span.distinction {
	font-size : 0.79em;
	}
span.pictoGris {
	font-family : Annuels, sans-serif;
	font-weight : 500;
	font-style : normal;
	font-size : 1.1em;
	text-decoration : none;
	font-variant : normal;
	color : #666;
	padding-right:0.1em;
}
span.pictorouge {
	font-family : Annuels, sans-serif;
	font-weight : 500;
	font-style : normal;
	font-size : 1.1em;
	font-variant : normal;
	color : #bf0033;
	padding-right:0.1em;
	text-decoration:underline
}
span.Fleche {
	font-family : "Mathematical Pi LT Std Regular";
	font-weight : normal;
	font-style : normal;
	font-size : 0.75em;
}
span.pictoNoir {
	font-family : Annuels;
	font-weight : 500;
	font-style : normal;
	font-size : 1.2em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
	padding-right:0.1em;
}
span.pictoRouge, .pictoSpe {
	font-family : Annuels, sans-serif;
	font-weight : 500;
	font-style : normal;
	font-size : 1.2em;
	text-decoration : underline;
	font-variant : normal;
	color : #bf0033;
	padding-right:2px;
	padding-left:2px;
}
span.Italic {
	font-weight : normal;
	font-style : italic;
}
span.LogoIndexR {
	font-family : Annuels, sans-serif;
	font-weight : 500;
	font-style : normal;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
}
span.LogoIndexR {
	font-family : Annuels, sans-serif;
	font-weight : 500;
	font-style : normal;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	color : #bf0033;
}
span.groslogo {
	font-family : Annuels, sans-serif;
	font-weight : 500;
	font-style : normal;
	font-size : 4.33em;
}
h2.carroresto {
	font-weight : bold;
	font-style : normal;
	color : #ffffff;
	margin-left: 0em;
	text-align:center;
	font-family : "Myriad Pro";
	vertical-align:middle;
	font-size:0.85em;
	line-height:2.95em;
	padding-left:0.8em;
	padding-right:0.8em;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	text-size-adjust: none;
}
h2.carrohotel {
	font-weight : bold;
	font-style : normal;
	color : #ffffff;
	margin-left: 0em;
	text-align:center;
	font-family : "Myriad Pro";
	vertical-align:bottom;
	font-size:0.85em;
	line-height:2.8em;
	margin-top:0px;
	margin-bottom:0em;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	text-size-adjust: none;
}
td.rond_carroresto {
	width:6%;
	}
.tableau_carroresto td.rs, .tableau_carrohotel td.rs {
	width:5%;
	} 
td.rs .retour_sommaire {
	margin-left:-1.8em;
}
.Region .retour_sommaire, .chap_photo .retour_sommaire {
	margin-left:0em;
	}
td.maison_carrohotel {
	width:9%;
	}
.col1 {
	width:15%;
	}
td.rond_carroresto, td.maison_carrohotel {
	vertical-align:middle;
	}
td.restau, td.hotel {
	width:86%;
	vertical-align:middle;
	}
.pdd {
	color:#666;
	font-family : "Optima LT Std Medium", sans-serif;
	font-style : normal;
	font-weight : 500;
	margin-left:24pt;
	margin-bottom:0em;
	margin-top:0.5em;
	font-size:1.2em;
}
span.small_caps {
	color:#666;
	font-family : "Optima LT Std Medium", sans-serif;
	font-size : 0.92em;
	font-style : normal;
	font-weight : 500;
	text-transform : uppercase;
}
span.char-style-override-3 {
	color : #6BBD1A;
	font-family : "Optima LT Std Medium", sans-serif;
	font-size : 0.92em;
	font-style : normal;
	font-weight : 500;
}
span.char-style-override-4 {
	color : #000000;
	font-family : "Myriad Pro";
	font-stretch : condensed;
	font-style : normal;
	font-weight : 300;
}
span.adresse_internet {
	color : #008cff;
	font-family : "Myriad Pro";
	font-style : normal;
	font-weight : 300;
	text-decoration : underline;
}
span.adresse_internet_na {
	font-family : "Myriad Pro";
	font-style : normal;
	font-weight : 300;
}
span.char-style-override-6 {
	color : #666;
	font-family : "Myriad Pro";
	font-size : 2.94em;
	font-stretch : condensed;
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-7 {
	font-family : "Myriad Pro", sans-serif;
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-8 {
	color : #000000;
	font-family : "Myriad Pro";
	font-size : 0.43em;
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-9 {
	font-family : Annuels, sans-serif;
	font-size : 2.26em;
	font-style : normal;
	font-weight : 500;
}
p.Aucun-style-de-paragraphe {
	font-family : "Times (T1) Roman", sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.adr {
	font-family : "Myriad Pro", sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.8em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin: 0px;
}
div.photo_leg p, div.photo p {
	font-family : "Myriad Pro";
	font-weight : normal;
	font-size : 0.45em;
	text-decoration : none;
	font-variant : normal;
	text-align : left;
	color : #000000;
	text-indent : 0;
	margin : 0px 0px 9px 0px;
}
div.secteur_vert_photo div.photo img, div.photo img {
	text-align:center;
	}
.whereToEat .quartier_vert div.photo_leg div.photo, .etablissementsEtoile .quartier_vert div.photo_leg div.photo, .whereToStay .quartier_vert div.photo {
	padding:0em;
	margin:0em;
	}
 .whereToEat .quartier_jaune div.photo_leg div.photo, .etablissementsEtoile .quartier_jaune div.photo_leg div.photo, .whereToStay .quartier_jaune div.photo {
	padding:0em;
	margin:0em;
	} 
div.photo_leg .photo {text-align:left;}
td.ouverture {
	font-family : "Myriad Pro";
	font-weight : 300;
	font-style : normal;
	font-size : 0.7em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.03;
	text-align : right;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
td.ouverture p, div.texte p {
	margin:0em;
	}
p.typeinfo {
	font-family : MyriadPro-Bold;
	font-style : normal;
	font-size : 0.8em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.35;
	text-align : left;
	color : #666;
	text-indent : 0px;
	margin : 0px;
}
h2.nomresto {
	font-family : "Myriad Pro";
	font-weight : normal;
	font-style : normal;
	font-size : 1.1em;
	text-decoration : none;
	font-variant : normal;
	text-align : left;
	text-indent : 0px;
	padding-left:0em;
	vertical-align:middle;
	width:90%;
}
h2.nomhotel {
	font-family : "Myriad Pro";
	font-weight : normal;
	font-style : normal;
	font-size : 1.1em;
	text-decoration : none;
	font-variant : normal;
	text-align : left;
	text-indent : 0;
	padding-left:0.3em;
	padding-bottom:0.3em;
	margin-bottom:0em;
	}
h2.nomresto .retour_sommaire img, h2.nomhotel .retour_sommaire img {
	text-align:right;
	margin-right:0;
}
.bandeau .retour_sommaire {
	margin-top:-1em;
	}
p.Paragraphe-standard {
	font-family : "Times (T1) Roman", sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
td.rs span.retour_sommaire a img {
		/*text-align:right;*/
	margin-bottom:0em;
	padding-bottom:0em;
	}
p.plan {
	font-family : "Myriad Pro Black", sans-serif;
	font-weight : 900;
	font-style : normal;
	font-size : 0.58em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #ffffff;
	text-indent : 0px;
	margin : 0px;
}
div.texte {
	font-family : "Optima LT Std", sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.78em;
	text-decoration : none;
	font-variant : normal;
	/* [disabled]line-height : 1.06; */
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin:0em;
}
.i {
	font-family : "Optima LT Std", sans-serif;
	font-weight : normal;
	font-style :italic;
	}
p.picto {
	font-family : "Myriad Pro";
	font-weight : normal;
	font-style : normal;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.3;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin-top: 4px;
	margin-right: 0px;
	margin-bottom: 0px;
}
span.pictos {
	letter-spacing:4px;
	}
h2.style {
	font-family : "Myriad Pro Black", sans-serif;
	font-weight : 900;
	font-style : normal;
	font-size : 0.8em;
	text-decoration : none;
	font-variant : normal;
	text-align : right;
	text-indent : 0px;
	letter-spacing:0.2em;
	margin-right: 0px;
	margin-bottom: 0px;
}
.tableau_carroresto .style  { margin-top: -1.8em;}
.tableau_carrohotel .style  {
	margin-top: -3em;
}
.tableau_carrohotel .retour_sommaire img {
	margin-left: 2em;
	margin-top:-1em;
	text-align:right;
}
.quartier_jaune .style {
	border-bottom:3px solid #ffa60d;
	}
.quartier_vert .style {
	border-bottom:3px solid #6BBD1A;
	}
p.texteetoile {
	font-family : "Optima LT Std", sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.71em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.06;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin-top: 3px;
	margin-right: 0px;
	margin-bottom: 0px;
}
h1.Quartier {
	font-family : "Optima LT Std", sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 2.2em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1;
	text-align : left;
	text-indent : 0;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
h1.Quartier .retour_sommaire {
	margin-top:-1em;
	}
h3.quartier {
	font-family : "Myriad Pro SemiCond", sans-serif;
	font-stretch : semi-condensed;
	font-weight : normal;
	font-style : normal;
	font-size : 0.9em;
	text-decoration : none;
	font-variant : normal;
	text-align : left;
	text-indent : 0px;
	text-transform:uppercase;
	margin-top:0em;
	margin-right: 0px;
	margin-bottom: 2px;
	padding:0em;
}
.quartier_jaune h3.quartier, .quartier_jaune span.puce, .quartier_jaune h1.Quartier a, .quartier_jaune .style, .sommaire h2 a.jaune, h2.sommaire a.jaune{
	color : #ffa60d;
	}
.quartier_vert h3.quartier, .quartier_vert span.puce, .quartier_vert h1.Quartier a, .QSommaire a, .sommaire h3 .Fleche, h2.sommaire .vert, .quartier_vert .style {
		color : #6BBD1A;
	}
p.info {
	font-family : "Myriad Pro";
	font-weight : 300;
	font-style : normal;
	font-size : 0.8em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.03;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Sommaire2 {
	font-family : "Myriad Pro", sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.92em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.09;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin-top: 3px;
	margin-right: 2px;
	margin-bottom: 0px;
	margin-left: 24pt;
}
h2.quartier {
	font-family : "Optima LT Std Medium", sans-serif;
	font-weight : 500;
	font-style : normal;
	font-size : 1.1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.33;
	text-align : left;
	color:#666;
	text-indent : 0px;
	margin-top: 3px;
	margin-right: 0px;
	margin-bottom: 0.7em;
	margin-left: 0.2em;
}
.Region {
	font-family : "Optima LT Std", sans-serif;
	font-weight : bold;
	font-style : normal;
	font-size : 0.8em;
	text-decoration : none;
	font-variant : normal;
	text-align : left;
	background-color:#6BBD1A;
	color:#FFF;
	text-indent : 0px;
	margin: 0px;
	text-transform:uppercase;
	padding-left: 0.2em;
	padding-top:0em;
	padding-right: 0.2em;
	padding-bottom: 0px;
}
.Region h1 {
	padding:0em;
	margin:0em;
	}
h2.Index {
	font-family : Optima, sans-serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1;
	text-align : left;
	color : #bf0d00;
	text-indent : 0px;
	margin-top: 1%;
	margin-right: 0px;
	margin-bottom: 4px;
	margin-left: 0px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #bf0d00;
}
p.TexteIndex {
	font-family : "Myriad Pro";
	font-stretch : condensed;
	font-weight : normal;
	font-style : normal;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.06;
	text-align : left;
	color : #000000;
	text-indent : -6px;
	margin : 0px 0px 0px 6px;
}
div.TypeIndex {
	font-family : "Optima LT Std", sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.92em;
	text-decoration : none;
	font-variant : normal;
	line-height : 0.91;
	text-align : center;
	color : #666;
	text-indent : 0;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0em;
	margin-left: 0px;
	padding-bottom:0.3em;
}
div.TypeIndex2 {
	font-family : "Optima LT Std", sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.82em;
	text-decoration : none;
	font-variant : normal;
	line-height : 0.91;
	text-align : left;
	color : #666;
	text-indent : 0;
	margin-top: 0px;
	margin-right: 1px;
	margin-bottom: 0em;
	margin-left: 0em;
	padding-bottom:0.3em;
}
h2.QSommaire {
	font-family : "Optima LT Std", sans-serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.17em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1;
	text-align : left;
	color : #6BBD1A;
	text-indent : 0px;
	margin-top: 1em;
	margin-right: 0px;
	margin-bottom: 0.5em;
	margin-left:0px;
}
p.para-style-override-1 {
	margin-top : 6px;
}
p.para-style-override-2 {
	text-align : center;
	margin-top : 0em;
	margin-bottom : 0em;
}
table.Tableau-simple {
	border-collapse : collapse;
	border-width : 0px;
	margin-top : 4px;
	margin-bottom : -2px;
	width:100%;
}
.chap, .secteur_vert {
	page-break-inside:avoid;
	margin:0em;
	}
.chap .retour_sommaire, .Region .retour_sommaire {text-align:right;}
div.photo, div.Photo, img {
	text-align:center;
	}
.Sommaire2 img {
	margin-left:0em;
	}
.ouverture {
	width:35%;
	}
.small {
	font-variant:small-caps;
}
a  {
	text-decoration:none;
	}
.Region a, .carroresto a, .carrohotel a {
	color:#fff;
	}
.Sommaire2 a {
	color:#000;
	}
.Fleche_grise {
	padding-right:3px;
	}
.MICHELIN_BLEU {
	font-family : Michelin, sans-serif;
	font-weight : normal;
	font-style : normal;
	text-decoration : underline;
	color : #008cff;
}
.numero-telephone-1 {
	font-weight : normal;
	font-style : normal;
	text-decoration : underline;
	color : #008cff;
}
div.entete {
	margin:0em;
	height:100%;
	padding-top: 0.5em;
	padding-right: 0em;
	padding-bottom: 0.2em;
	padding-left: 0em;
	width:100%;
	}
.etablissement, .etablissement_bib {
	margin-bottom:0.8em;
	}
.etablissement, .enteteGlobale, div.Photo, div.photo, .contents {
	page-break-inside:avoid;
	}
.whereToStay .etablissement {
	page-break-after:always;
	margin-bottom:0em;
	}
.quartier_jaune .carrohotel {
	background-image:url(../img/Hotel_jaune.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	}
.quartier_vert .carrohotel {
	background-image:url(../img/Hotel_vert.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	}
.quartier_jaune .carroresto {
	background-image:url(../img/rond_jaune.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	}
.quartier_vert .carroresto {
	background-image:url(../img/rond_vert.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	}

/* ------------------------ SOMMAIRE ---------------------------- */
.maps .sommaire {
	margin-left:0em;
	margin-top:1em;
	}
h1.sommaire {
	font-size:1em;
	}
.sommaire h1 {
	background-color:#8E7766;
	color:#FFFFFF;
	font-family : "Myriad Pro";
	font-style : normal;
	font-weight : normal;
	margin-bottom:8px;
	font-size:1em;
	padding-top: 0em;
	padding-right: 0em;
	padding-bottom: 0em;
	padding-left: 0.1em;
	}
.sommaire h1 a {
	color: #FFF;
	}
.sommaire h1 .b {
	font-family : "Myriad Pro Black";
	font-style : normal;
	font-weight : 900;
	} 
.sommaire h1.ind {
	background-color:#bf0033;
	font-family : "Myriad Pro Black";
	font-style : normal;
	font-weight : 900;
	font-size:1.2em;
	margin-bottom:8px;
	}
.maps .sommaire h2, .sommaire h2 a, .Fleche_verte {
	color : #6BBD1A;
	text-decoration:none;
	}
.sommaire h2.index_map {
	margin-top:0.1em;
	}
.sommaire h2.index_map a {
	color:#8E7766;
	}
.sommaire h2 {
	font-family : "Optima LT Std";
	font-style : normal;
	font-weight : bold;
	margin-top:7px;
	margin-bottom:4px;
	font-size:1em;
	}
.sommaire h2.ind .Fleche, div.somwte h2 a, div.somwts h2 a, div.indexes h2 a, div.indexes h2.sommaire_click .Fleche {
	color:#bf0033;
	}
.sommaire h2.ind a {
	color:#bf0033;
	font-family : "Optima LT Std";
	font-style : normal;
	font-weight : normal;
	}
.sommaire h2.ind {
	margin-left:0pt;
	margin-bottom:3px;
	margin-top:0em;
	}
.sommaire h3 a {
	font-family : "Myriad Pro";
	font-style : normal;
	font-weight : normal;
	text-decoration:none;
	color : #6BBD1A;
	}
.sommaire h3 {
	margin-left:24pt;
	margin-top:0px;
	margin-bottom:5px;
	font-size:0.86em;
	}
.sommaire .straight_to {
	background-color:#8E7766;
	padding:0em;
	color:#FFFFFF;
	page-break-inside:avoid;
	}
.straight_to h1 {
	font-family : "Myriad Pro Black";
	font-style : normal;
	font-weight : 900;
	margin-bottom:5px;
	}
.straight_to h2 {
	margin-left:24pt;
	margin-top:0em;
	margin-bottom:2px;
	font-family : "Optima LT Std Medium";
	font-style : normal;
	font-weight : 500;
	}
.straight_to h2 a {
	color:#FFFFFF;
	}
.contents h1, .Bandeau-rouge-1  {
	color:#FFF;
	background-color: #bf0033;
	font-family : "Myriad Pro Black";
	font-style : normal;
	font-weight : 900;
	padding-left:2pt;
	padding-top:0;
	padding-bottom:0;
	margin-bottom:8px;
	margin-top:-0.35em;
	font-size: 1.25em;
	}
.bandeau {
	text-align:left;
	font-size:0.98em;
	margin:0em;
	padding:0em;
	}
.Bandeau-rouge-1 {
	margin-top:0;
	margin-bottom:0px;
	}
.symbols .Bandeau-rouge-1 {
	margin-top:0em;
	}
.how .Bandeau-rouge-1 {
	margin-top:-0.4em;
	}
.contents h2 {
	margin-bottom:2px;
	margin-top:0em;
	font-size:0.9em;
	font-family : "Optima LT Std Medium";
	font-style : normal;
	font-weight : 500;
	}
.contents h2 a {
	color:#8E7766;
	}
span.Fleche {
	font-family : "Mathematical Pi LT Std Regular";
	font-weight : normal;
	font-style : normal;
	font-size : 0.75em;
	}
/* ----------------- PAGES DE SOMMAIRE ------------------- */
h1.TitreRouge {
	font-size : 1.67em;
	line-height : 1.4;
	text-align : left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
h1.TitreRouge span.char-style-override-1 {
	color:#000;
	font-family : "Optima LT Std", sans-serif;
	font-style : italic;
	font-weight : normal;
	font-size:0.8em;
}
p.dear {
	font-family : "Optima LT Std", sans-serif;
	font-weight : normal;
	font-style : italic;
	font-size : 0.76em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin-top: 3px;
	margin-right: 0px;
	margin-bottom: 3px;
	margin-left: 0px;
}
p.Twiter {
	font-family : "Myriad Pro", sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.1;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 6px 0px 3px 0px;
}
.contents .Photo {
	margin-top:1em;
	}
.contents .Photo p {
	font-family : "Myriad Pro";
	font-weight : normal;
	font-size : 0.62em;
	text-decoration : none;
	font-variant : normal;
	text-align : right;
	color : #000000;
	text-indent : 0;
	margin : 0px 0px 9px 0px;
	}
.dear_reader, .couverture, .carte_debut_NYC, .content {
	page-break-after:always;
	} 
div.how, div.contents, .etablissementsEtoile {
	page-break-before:always;
	}
.symbols {
	page-break-inside:avoid;
	page-break-before:always;
	}

.tableau td {
	font-family : "Myriad Pro", sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.7em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.22;
	text-align : left;
	text-indent : 0px;
	margin : 0px;
	padding-right:0em;
}
td.Legende {
	width:6%;
	}
span.pictoN {
	font-family : Annuels, sans-serif;
	font-weight : 500;
	font-style : normal;
	font-size : 0.83em;
	color : #1a171b;
}
span.pictoG {
	font-family : Annuels, sans-serif;
	font-weight : 500;
	font-style : normal;
	font-size : 0.83em;
	color : #707172;
}
span.Black {
	font-weight : normal;
	font-style : normal;
}
span.Black {
	font-family : "Myriad Pro Black";
	font-style : normal;
	font-weight : 900;
	font-size : 1.08em;
	color : #8E7766;
}
h2.sstitre {
	font-family : "Myriad Pro Light", sans-serif;
	font-weight : 600;
	font-style : normal;
	font-size : 0.69em;
	text-decoration : none;
	font-variant : normal;
	line-height : 0.86;
	text-align : left;
	color:#bf0033;
	text-indent : 0px;
	margin : 0px 0px 2px 0px;
}
h2.Where {
	font-family : "Myriad Pro", sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 0.56;
	text-align : left;
	color : #8E7766;
	text-indent : 0px;
	margin: 0em;
}
p.chapo {
	font-family : "Optima LT Std DemiBold", sans-serif;
	font-weight : 600;
	font-style : italic;
	font-size : 0.82em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.14;
	text-align : left;
	color:#bf0033;
	text-indent : 0px;
	margin-top: 0.4em;
	margin-right: 0em;
	margin-bottom: 0.4em;
	margin-left: 0em;
}
h1.How {
	font-family : "Myriad Pro", sans-serif;
	font-weight : bold;
	font-style : normal;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.08;
	text-align : left;
	color:#bf0033;
	text-indent : 0px;
	margin-top: 3px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
p.how {
	font-family : "Myriad Pro", sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.74em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.15;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px 0px 3px 0px;
}
p.Som {
	font-family : "Optima LT Std", sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.33;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Som2 {
	font-family : "Myriad Pro", sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.92em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.18;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 3px 2px 0px 11px;
}
h1.Som {
	font-family : "Optima LT Std", sans-serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.33em;
	text-decoration : none;
	font-variant : normal;
	line-height : 0.88;
	text-align : left;
	color : #a2b455;
	text-indent : 0px;
	margin : 3px 0px 0px 0px;
}
h1.TitreJ {
	font-family : "Optima LT Std", sans-serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.33em;
	text-decoration : none;
	font-variant : normal;
	line-height : 0.88;
	text-align : left;
	color : #dd9719;
	text-indent : 0px;
	margin : 3px 0px 0px 0px;
}
p.SomBlan {
	font-family : "Optima LT Std Medium", sans-serif;
	font-weight : 500;
	font-style : normal;
	font-size : 1.08em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.31;
	text-align : left;
	color : #ffffff;
	text-indent : 0px;
	margin : 0px 0px 0px 26px;
}
h2.som_blanc {
	font-family : "Myriad Pro", sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.5em;
	text-decoration : none;
	font-variant : normal;
	line-height : 0.56;
	text-align : left;
	color : #ffffff;
	text-indent : 0px;
	margin : 3px 0px 0px 11px;
}
.sommaireWhereToEat, .sommaireWhereToStay, .ouverture_straight_to {
	page-break-before:always;
	margin:0em;
	}
.sommaireIndexes {
	margin:0em;
	}
.sommaireWhereToEat span.retour_sommaire, .sommaireIndexes span.retour_sommaire, .sommaireWhereToStay span.retour_sommaire, .ouverture_straight_to span.retour_sommaire {
	text-align:right;
	display:block;
}
div.somwte h2, div.somwts h2, div.indexes h2 {
	margin-top:18px;
	font-size:1.1em;
	}
div.somwte h2.sommaire_click, div.somwts h2.sommaire_click, div.indexes h2.sommaire_click {
	margin-top:0px;
	}
img.Fond-ouverure {
	margin:0em;
	width:100%;
}
h1.sommaire a, h1.starred a, h1.bib a, h2.sommaire a {
	font-family : "Optima LT Std", sans-serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1;
	text-align : left;
	text-indent : 0px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.somwte, .somwts, .indexes {
	margin-top: 0em;
	margin-right: 0em;
	margin-bottom: 1.5em;
	padding-top: 5em;
	}
.sommaireBib .classement, .sommaireEtoile .classement {
	padding-left: 0.2em;
	}
.sommaireBib h2 a, .sommaireEtoile h2 a {
	color:#000000;
	font-family : "Myriad Pro";
	font-style : normal;
	font-weight : normal;
	font-size:0.8em;
	}
.sommaireBib h2, .sommaireEtoile h2 {
	margin-bottom:0px;
	margin-top:0px;
	padding:0em;
	}
.noBreakInside {
	page-break-inside:avoid;
	margin:0em;
}
h2.souligne {
	color:#bf0033;
	border-bottom:2px solid #bf0033;
	font-family : "Myriad Pro", sans-serif;
	font-weight : normal;
	font-style : normal;
	margin-bottom:2px;
	font-size:0.8em;
	}
div.encadre {
	color:#bf0033;
	padding-left:0.7em;
	padding-bottom:0.4em;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin-top:1em;
	background-color:#f5dba8;
	padding-top: 0.2px;
	}
h1.encadre {
	text-transform:uppercase;
	font-family : "Myriad Pro", sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size:0.9em;
	margin-top:0.2em;
	margin-bottom:0.2em;
	}	
p.encadre {
	font-family : "Myriad Pro", sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size:0.8em;
	margin:0em;
	}
.Legende .pictoN {
	width:20%;
}
.Legende .char-style-override-5 {
	width:20%;
	margin-left:5%;
	}
.secteur_vert_photo {
	page-break-inside:avoid;
	page-break-before:always;
	page-break-after:always;
	}
.chap_photo {
	page-break-inside:avoid;}
.quartier_jaune .chap_photo, .etablissement_etoile {
	page-break-before:always;
	page-break-after:always;
	}
div.index_map {
	margin-top:1em;
	}
table, td.description {
	width:100%;
	padding:0em;
	margin:0em;
	}
.tableau_carroresto tr, .tableau_carrohotel tr {
	margin:0em;
	padding:0em;
	}
.tableau_carrohotel .description .style {
padding-bottom:0em;
	}
.whereToStay td.ouverture {
	width:2%;
	}
